n8n/workflows/second-brain-error-handler.json
{
  "name": "Second Brain - Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "eh000001-0001-0001-0001-000100010001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract safe workflow and execution metadata from the Error Trigger payload.\n// Never retain raw exception messages, stack traces, or capture text.\nconst payload = $input.first().json;\n\nconst rawWorkflowName = payload?.workflow?.name ?? null;\nconst workflowId = payload?.workflow?.id ?? null;\n\nconst WORKFLOW_NAME_MAP = {\n  'Second Brain - Intake': 'second_brain_intake',\n  'Second Brain - Intake': 'second_brain_intake',\n  'Second Brain - Error Handler': 'second_brain_error_handler',\n  'Second Brain - Error Harness': 'second_brain_error_harness',\n};\nconst workflowName = (rawWorkflowName && WORKFLOW_NAME_MAP[rawWorkflowName])\n  ? WORKFLOW_NAME_MAP[rawWorkflowName]\n  : 'unknown_workflow';\n\nconst executionId = payload?.execution?.id ?? null;\nconst lastNode = payload?.execution?.lastNodeExecuted ?? null;\n\nconst NODE_STAGE_MAP = {\n  'Classify with Gemini': 'gemini',\n  'Call Gemini Structured Output': 'gemini',\n  'Validate Classification': 'classification_validation',\n  'Validate Classification Contract': 'classification_validation',\n  'Write to Vault': 'Write to Inbox': 'Inbox (classified)': 'Submit to Writer Service': 'writer_service',\n  'Submit to Writer Service (inbox)': 'writer_service',\n  'Claim Attempt': 'capture_fetch',\n  'Get Capture': 'capture_fetch',\n  'Acknowledge Filed': 'acknowledge_filed',\n  'Acknowledge Inbox': 'acknowledge_inbox',\n};\nconst stage = (lastNode && NODE_STAGE_MAP[lastNode])\n  ? NODE_STAGE_MAP[lastNode]\n  : 'workflow_unknown';\n\n// Attempt to extract correlation object from the error.\n// Stop And Error node serializes the Error Object as the error message.\nlet rawErrorObject = null;\n\nconst execErrMsg = payload?.execution?.error?.message;\nif (execErrMsg) {\n  if (typeof execErrMsg === 'string') {\n    try { rawErrorObject = JSON.parse(execErrMsg); } catch (_) {}\n  } else if (typeof execErrMsg === 'object' && execErrMsg !== null) {\n    rawErrorObject = execErrMsg;\n  }\n}\n\nif (!rawErrorObject) {\n  const trigErrMsg = payload?.trigger?.error?.message;\n  if (trigErrMsg) {\n    if (typeof trigErrMsg === 'string') {\n      try { rawErrorObject = JSON.parse(trigErrMsg); } catch (_) {}\n    } else if (typeof trigErrMsg === 'object' && trigErrMsg !== null) {\n      rawErrorObject = trigErrMsg;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    workflow_id: workflowId ? String(workflowId) : 'unknown',\n    workflow_name: workflowName,\n    execution_id: executionId ? String(executionId) : null,\n    stage,\n    raw_error_object: rawErrorObject,\n  }\n}];"
      },
      "id": "eh000002-0002-0002-0002-000200020002",
      "name": "Normalize Safe Error Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate correlation fields from the Stop And Error error object.\n// Only accept known, allowlisted values — never forward arbitrary error messages.\nconst data = $input.first().json;\n\nconst RETRYABLE = new Set([\n  'gemini_timeout', 'gemini_rate_limit', 'gemini_server_error',\n  'writer_git_push_rejected', 'writer_git_index_locked', 'writer_service_timeout', 'writer_service_unavailable',\n  'capture_service_unavailable', 'classification_validation_failure',\n  'unexpected_response_shape', 'workflow_unhandled_exception',\n]);\nconst TERMINAL = new Set([\n  'defense_in_depth_secret_detected', 'invalid_webhook_envelope', 'contract_violation',\n  'writer_git_conflict', 'writer_git_worktree_dirty', 'writer_path_traversal', 'writer_capture_duplicate',\n]);\nconst ALLOWED_STAGES = new Set([\n  'gemini', 'classification_validation', 'writer_service',\n  'acknowledge_filed', 'acknowledge_inbox', 'capture_fetch', 'workflow_unknown',\n]);\nconst SAFE_SLUG_RE = /^[A-Za-z0-9_.:-]{1,100}$/;\nconst CAPTURE_ID_RE = /^SB-\\d{8}-\\d{4}$/;\n\nconst errObj = data.raw_error_object;\nlet correlated = false;\nlet capture_id = null;\nlet delivery_attempt = null;\nlet disposition = null;\nlet error_type = null;\nlet reason_type = null;\nlet stage = data.stage;\n\nif (errObj && typeof errObj === 'object') {\n  const c = errObj.capture_id;\n  const da = errObj.delivery_attempt;\n  const d = errObj.disposition;\n  const et = errObj.error_type;\n  const rt = errObj.reason_type ?? 'workflow_error';\n  const s = errObj.stage ?? 'workflow_unknown';\n\n  const validCaptureId = typeof c === 'string' && CAPTURE_ID_RE.test(c);\n  const validAttempt = Number.isInteger(da) && da >= 1;\n  const validDisposition = d === 'retryable' || d === 'terminal';\n  const validErrorType = typeof et === 'string' &&\n    ((d === 'retryable' && RETRYABLE.has(et)) || (d === 'terminal' && TERMINAL.has(et)));\n  const validReasonType = typeof rt === 'string' && SAFE_SLUG_RE.test(rt);\n  const validStage = typeof s === 'string' && ALLOWED_STAGES.has(s);\n\n  if (validCaptureId && validAttempt && validDisposition && validErrorType && validReasonType && validStage) {\n    correlated = true;\n    capture_id = c;\n    delivery_attempt = da;\n    disposition = d;\n    error_type = et;\n    reason_type = rt;\n    stage = s;\n  }\n}\n\nreturn [{\n  json: {\n    workflow_id: data.workflow_id,\n    workflow_name: data.workflow_name,\n    execution_id: data.execution_id,\n    stage,\n    capture_id,\n    delivery_attempt,\n    disposition,\n    error_type,\n    reason_type,\n    correlated,\n  }\n}];"
      },
      "id": "eh000003-0003-0003-0003-000300030003",
      "name": "Extract Safe Correlation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "correlation-check",
              "leftValue": "={{ $json.correlated }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "eh000004-0004-0004-0004-000400040004",
      "name": "Correlation Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Orphan workflow error: no valid capture correlation context.\n// Log safe metadata only — do not guess a capture ID, do not mutate capture-service.\n// The stale-lease reaper will recover durable captures after ~330 seconds.\nconst data = $input.first().json;\nconsole.log(JSON.stringify({\n  event: 'orphan_workflow_error',\n  workflow_id: data.workflow_id,\n  workflow_name: data.workflow_name,\n  execution_id: data.execution_id,\n  stage: data.stage,\n  correlated: false,\n  timestamp: new Date().toISOString(),\n}));\nreturn [{ json: { recorded: true, correlated: false } }];"
      },
      "id": "eh000005-0005-0005-0005-000500050005",
      "name": "Record Safe Orphan Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $json.capture_id }}/delivery/report-workflow-error",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $json.delivery_attempt, disposition: $json.disposition, error_type: $json.error_type, reason_type: $json.reason_type, workflow_id: $json.workflow_id, workflow_name: $json.workflow_name, execution_id: $json.execution_id, stage: $json.stage }) }}",
        "options": {}
      },
      "id": "eh000006-0006-0006-0006-000600060006",
      "name": "Report Workflow Error to Capture Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "position": [
        1140,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// HTTP report to capture-service failed. Log safe metadata only.\n// The stale-lease reaper remains the safety net for durable capture recovery.\nconst data = $input.first().json;\nconsole.log(JSON.stringify({\n  event: 'workflow_error_report_failed',\n  error_description: data?.error?.description ?? 'unknown',\n  error_status: data?.error?.httpCode ?? null,\n  timestamp: new Date().toISOString(),\n}));\nreturn [{ json: { recorded: true, report_failed: true } }];"
      },
      "id": "eh000007-0007-0007-0007-000700070007",
      "name": "Record Safe Report Failure Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        300
      ]
    },
    {
      "parameters": {},
      "id": "eh000008-0008-0008-0008-000800080008",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1620,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Safe Error Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Safe Error Metadata": {
      "main": [
        [
          {
            "node": "Extract Safe Correlation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Safe Correlation Context": {
      "main": [
        [
          {
            "node": "Correlation Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlation Present?": {
      "main": [
        [
          {
            "node": "Report Workflow Error to Capture Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Safe Orphan Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Workflow Error to Capture Service": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Safe Report Failure Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Safe Orphan Metadata": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Safe Report Failure Metadata": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "none",
    "saveManualExecutions": false,
    "saveExecutionProgress": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
