n8n/workflows/second-brain-intake.json
{
  "name": "Second Brain - Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "second-brain-intake",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-1111-1111-111111111111",
      "name": "Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "second-brain-intake",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_INTAKE_WEBHOOK_TOKEN",
          "name": "Intake Webhook Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a1b2c3d4-2222-2222-2222-222222222222",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        60
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://capture-service:8000/internal/downstream/captures/{{ $('Intake Webhook').first().json.body.capture_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-3333-3333-3333-333333333333",
      "name": "Get Capture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://capture-service:8000/internal/security/screen",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.raw_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-4444-4444-4444-444444444444",
      "name": "Screen for Sensitive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sensitive-check",
              "leftValue": "={{ $json.is_sensitive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-5555-5555-5555-555555555555",
      "name": "Sensitive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-forwarded",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "delivery_attempt",
              "value": "={{ $('Intake Webhook').first().json.body.delivery_attempt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000100010001",
      "name": "Claim Attempt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "outcome-check",
              "leftValue": "={{ $json.outcome }}",
              "rightValue": "changed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000200020002",
      "name": "Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1460,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true, \"status\": \"ignored\"}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000300030003",
      "name": "Respond 202 Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-classifying",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "delivery_attempt",
              "value": "={{ $('Intake Webhook').first().json.body.delivery_attempt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000400040004",
      "name": "Acknowledge Classifying",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/renew-lease",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "delivery_attempt",
              "value": "={{ $('Intake Webhook').first().json.body.delivery_attempt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000500050005",
      "name": "Renew Lease",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Gemini generateContent request \u2014 ask for full Classification matching models.py\nconst captureText = $('Get Capture').first().json.raw_text ?? '';\nconst prompt = [\n  'Classify the following personal note into a structured knowledge item.',\n  '',\n  'Allowed folder values: inbox, people, projects, ideas, learning, admin',\n  'Allowed action status values: open, done',\n  '',\n  'Capture:',\n  captureText,\n  '',\n  'Return compact JSON only. No explanation. No markdown. Body under 80 words. At most one action.',\n  'Respond with a single JSON object only (no markdown fences, no other text):',\n  '{',\n  '  \"folder\": \"inbox\",',\n  '  \"project\": null,',\n  '  \"note_type\": \"general\",',\n  '  \"title\": \"concise title\",',\n  '  \"tags\": [\"tag1\"],',\n  '  \"body\": \"brief note body\",',\n  '  \"actions\": [{\"text\": \"example action\", \"status\": \"open\"}],',\n  '  \"needs_clarification\": false,',\n  '  \"clarifying_question\": null,',\n  '  \"confidence\": 0.9',\n  '}',\n].join('\\n');\n\nreturn [{\n  json: {\n    contents: [{ parts: [{ text: prompt }] }],\n    generationConfig: { temperature: 0, maxOutputTokens: 2048 },\n  }\n}];"
      },
      "id": "a1b2c3d4-6666-6666-6666-666666666666",
      "name": "Prepare Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-7777-7777-7777-777777777777",
      "name": "Classify with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_GEMINI_API_KEY",
          "name": "Gemini API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract Classification \u2014 join all text parts in case Gemini splits output\nconst body = $input.first().json;\nconst parts = body?.candidates?.[0]?.content?.parts ?? [];\nconst rawText = parts.map(p => p.text ?? '').join('').trim();\n\nlet classification = {};\nlet parse_error = false;\n\ntry {\n  const cleaned = rawText\n    .replace(/^```(?:json)?\\n?/, '')\n    .replace(/\\n?```$/, '')\n    .trim();\n  classification = JSON.parse(cleaned);\n} catch (_) {\n  parse_error = true;\n}\n\nreturn [{\n  json: {\n    classification,\n    parse_error,\n    finish_reason: body?.candidates?.[0]?.finishReason ?? null,\n    raw_preview: rawText.slice(0, 500)\n  }\n}];"
      },
      "id": "a1b2c3d4-8888-8888-8888-888888888888",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://capture-service:8000/internal/contracts/classification/validate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "classification",
              "value": "={{ $json.classification }}"
            },
            {
              "name": "delivery_attempt",
              "value": "={{ $('Intake Webhook').first().json.body.delivery_attempt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-9999-9999-9999-999999999999",
      "name": "Validate Classification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "route-file",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "file"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "route-inbox",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "inbox",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "inbox"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "File or Inbox?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3380,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://writer-service:8001/internal/notes/file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json",
              "fullResponse": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ capture_id: $('Intake Webhook').first().json.body.capture_id, delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, classification: $('Parse Gemini Response').first().json.classification, inbox_reason: null, source_message_id: $('Get Capture').first().json.source_message_id, created_at: $('Get Capture').first().json.created_at, model: \"gemini-3.5-flash\", prompt_version: \"classifier-v1\", raw_text: $('Get Capture').first().json.raw_text, attachments: $('Get Capture').first().json.attachment_metadata ?? [] }) }}",
        "sendBody": true
      },
      "id": "a1b2c3d4-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Submit to Writer Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        -20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_WRITER_SERVICE_TOKEN",
          "name": "Second Brain - Writer Service Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://writer-service:8001/internal/notes/file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json",
              "fullResponse": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ capture_id: $('Intake Webhook').first().json.body.capture_id, delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, classification: $('Parse Gemini Response').first().json.classification, inbox_reason: $('Validate Classification').first().json.inbox_reason, source_message_id: $('Get Capture').first().json.source_message_id, created_at: $('Get Capture').first().json.created_at, model: \"gemini-3.5-flash\", prompt_version: \"classifier-v1\", raw_text: $('Get Capture').first().json.raw_text, attachments: $('Get Capture').first().json.attachment_metadata ?? [] }) }}",
        "sendBody": true
      },
      "id": "a1b2c3d4-cccc-cccc-cccc-cccccccccccc",
      "name": "Submit to Writer Service (inbox)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_WRITER_SERVICE_TOKEN",
          "name": "Second Brain - Writer Service Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-failed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "delivery_attempt",
              "value": "={{ $('Intake Webhook').first().json.body.delivery_attempt }}"
            },
            {
              "name": "reason_type",
              "value": "defense_in_depth_secret_detected"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-dddd-dddd-dddd-dddddddddddd",
      "name": "Acknowledge Failed (sensitive)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true, \"status\": \"blocked\"}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000600060006",
      "name": "Respond 202 Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1460,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-filed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, note_path: $json.note_path, git_commit_hash: $json.git_commit_hash ?? null, classification: $(\"Parse Gemini Response\").first().json.classification }) }}"
      },
      "id": "a1b2c3d4-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Acknowledge Filed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        -20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-inbox",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, note_path: $json.note_path, git_commit_hash: $json.git_commit_hash ?? null, reason_type: $(\"Validate Classification\").first().json.inbox_reason ?? '', classification: $(\"Parse Gemini Response\").first().json.classification }) }}"
      },
      "id": "a1b2c3d4-ffff-ffff-ffff-ffffffffffff",
      "name": "Acknowledge Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "clarif-needs",
              "leftValue": "={{ $('Validate Classification').first().json.inbox_reason }}",
              "rightValue": "needs_clarification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "clarif-low-conf",
              "leftValue": "={{ $('Validate Classification').first().json.inbox_reason }}",
              "rightValue": "low_confidence",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1117-1117-1117-111711171117",
      "name": "Needs Clarification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/clarifications/{{ $('Intake Webhook').first().json.body.capture_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $('Parse Gemini Response').first().json.classification.clarifying_question || 'Please clarify where this belongs.' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1118-1118-1118-111811181118",
      "name": "Record Clarification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4340,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize writer-service response. On 2xx, unwrap body for downstream nodes.\n// On error, map writer error_type \u2192 capture-service taxonomy and use the\n// writer-service's own retryable flag to determine routing.\nconst resp = $input.first().json;\nconst statusCode = resp.statusCode ?? 200;\nconst body = resp.body ?? resp;\n\nconst ERROR_MAP = {\n  'git_fetch_error':        'writer_git_fetch_error',\n  'git_add_error':          'writer_git_add_error',\n  'git_commit_error':       'writer_git_commit_error',\n  'git_push_error':         'writer_git_push_error',\n  'git_push_rejected':      'writer_git_push_rejected',\n  'git_index_locked':       'writer_git_index_locked',\n  'git_merge_conflict':     'writer_git_conflict',\n  'git_worktree_dirty':     'writer_git_worktree_dirty',\n  'path_traversal_attempt': 'writer_path_traversal',\n  'capture_id_duplicate':   'writer_capture_duplicate',\n};\n\nif (statusCode >= 200 && statusCode < 300) {\n  return [{ json: { ...body, _writer_ok: true } }];\n}\n\nconst writerErrorType = body.error_type ?? 'unknown';\nconst mappedErrorType = ERROR_MAP[writerErrorType] ?? 'writer_service_unavailable';\nreturn [{\n  json: {\n    _writer_ok: false,\n    _retryable: body.retryable === true,\n    _error_type: mappedErrorType,\n    _reason_type: 'writer_service_error',\n  }\n}];"
      },
      "id": "eval-writer-file",
      "name": "Evaluate Writer Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "writer-ok",
              "leftValue": "={{ $json._writer_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-writer-ok-file",
      "name": "Writer OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4340,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "writer-retryable",
              "leftValue": "={{ $json._retryable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-writer-retryable-file",
      "name": "Writer Error Retryable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4340,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/schedule-retry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, error_type: $json._error_type, reason_type: $json._reason_type }) }}",
        "options": {}
      },
      "id": "schedule-retry-writer",
      "name": "Schedule Retry (writer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4580,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-failed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, reason_type: $json._error_type }) }}",
        "options": {}
      },
      "id": "ack-failed-writer",
      "name": "Acknowledge Failed (writer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4580,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize writer-service response. On 2xx, unwrap body for downstream nodes.\n// On error, map writer error_type \u2192 capture-service taxonomy and use the\n// writer-service's own retryable flag to determine routing.\nconst resp = $input.first().json;\nconst statusCode = resp.statusCode ?? 200;\nconst body = resp.body ?? resp;\n\nconst ERROR_MAP = {\n  'git_fetch_error':        'writer_git_fetch_error',\n  'git_add_error':          'writer_git_add_error',\n  'git_commit_error':       'writer_git_commit_error',\n  'git_push_error':         'writer_git_push_error',\n  'git_push_rejected':      'writer_git_push_rejected',\n  'git_index_locked':       'writer_git_index_locked',\n  'git_merge_conflict':     'writer_git_conflict',\n  'git_worktree_dirty':     'writer_git_worktree_dirty',\n  'path_traversal_attempt': 'writer_path_traversal',\n  'capture_id_duplicate':   'writer_capture_duplicate',\n};\n\nif (statusCode >= 200 && statusCode < 300) {\n  return [{ json: { ...body, _writer_ok: true } }];\n}\n\nconst writerErrorType = body.error_type ?? 'unknown';\nconst mappedErrorType = ERROR_MAP[writerErrorType] ?? 'writer_service_unavailable';\nreturn [{\n  json: {\n    _writer_ok: false,\n    _retryable: body.retryable === true,\n    _error_type: mappedErrorType,\n    _reason_type: 'writer_service_error',\n  }\n}];"
      },
      "id": "eval-writer-inbox",
      "name": "Evaluate Writer Response (inbox)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "writer-ok-inbox",
              "leftValue": "={{ $json._writer_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-writer-ok-inbox",
      "name": "Writer OK? (inbox)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4340,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "writer-retryable-inbox",
              "leftValue": "={{ $json._retryable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-writer-retryable-inbox",
      "name": "Writer Error Retryable? (inbox)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4340,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/schedule-retry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, error_type: $json._error_type, reason_type: $json._reason_type }) }}",
        "options": {}
      },
      "id": "schedule-retry-writer-inbox",
      "name": "Schedule Retry (writer inbox)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4580,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-failed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, reason_type: $json._error_type }) }}",
        "options": {}
      },
      "id": "ack-failed-writer-inbox",
      "name": "Acknowledge Failed (writer inbox)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4580,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      }
    },
    {
      "id": "if-valid-classifier",
      "name": "Valid Classification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "check-route",
              "leftValue": "={{ $json.route }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "if-attachment-only",
      "name": "Attachment Only?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-empty-text",
              "leftValue": "={{ $json.raw_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-has-attachments",
              "leftValue": "={{ $json.has_attachments }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "http-schedule-retry-rate-limited",
      "name": "Schedule Retry (Gemini rate limited)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/schedule-retry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, error_type: \"gemini_http_error\", reason_type: \"gemini_rate_limited\" }) }}",
        "options": {}
      }
    },
    {
      "id": "http-schedule-retry-server-error",
      "name": "Schedule Retry (Gemini server error)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/schedule-retry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, error_type: \"gemini_http_error\", reason_type: \"gemini_server_or_timeout\" }) }}",
        "options": {}
      }
    },
    {
      "id": "http-ack-failed-gemini-auth",
      "name": "Acknowledge Failed (Gemini auth)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/acknowledge-failed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, reason_type: \"gemini_auth_failed\" }) }}",
        "options": {}
      }
    },
    {
      "id": "switch-gemini-error",
      "name": "Gemini Error Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2900,
        60
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "check-status-429",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 429,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rate_limited"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "check-no-error",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "check-status-401",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 401,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth_failed_401"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "check-status-403",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 403,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth_failed_403"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "http-schedule-retry-invalid-output",
      "name": "Schedule Retry (invalid classifier output)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/schedule-retry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, error_type: \"invalid_classifier_output\", reason_type: \"invalid_classifier_output\" }) }}",
        "options": {}
      }
    },
    {
      "id": "http-schedule-retry-malformed",
      "name": "Schedule Retry (malformed classifier output)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CAPTURE_SERVICE_TOKEN",
          "name": "Capture Service Token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=http://capture-service:8000/internal/captures/{{ $('Intake Webhook').first().json.body.capture_id }}/delivery/schedule-retry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ delivery_attempt: $('Intake Webhook').first().json.body.delivery_attempt, error_type: \"malformed_gemini_output\", reason_type: \"malformed_gemini_output\" }) }}",
        "options": {}
      }
    },
    {
      "id": "if-invalid-output-type",
      "name": "Invalid Output Type?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3580,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-valid-exists",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Intake Webhook": {
      "main": [
        [
          {
            "node": "Get Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Capture": {
      "main": [
        [
          {
            "node": "Attachment Only?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screen for Sensitive": {
      "main": [
        [
          {
            "node": "Sensitive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sensitive?": {
      "main": [
        [
          {
            "node": "Acknowledge Failed (sensitive)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Failed (sensitive)": {
      "main": [
        [
          {
            "node": "Respond 202 Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Attempt": {
      "main": [
        [
          {
            "node": "Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claimed?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 202 Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Acknowledge Classifying",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Classifying": {
      "main": [
        [
          {
            "node": "Renew Lease",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renew Lease": {
      "main": [
        [
          {
            "node": "Prepare Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Prompt": {
      "main": [
        [
          {
            "node": "Classify with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Gemini": {
      "main": [
        [
          {
            "node": "Gemini Error Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Classification": {
      "main": [
        [
          {
            "node": "Valid Classification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File or Inbox?": {
      "main": [
        [
          {
            "node": "Submit to Writer Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit to Writer Service (inbox)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Writer Service": {
      "main": [
        [
          {
            "node": "Evaluate Writer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Writer Service (inbox)": {
      "main": [
        [
          {
            "node": "Evaluate Writer Response (inbox)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Writer Response": {
      "main": [
        [
          {
            "node": "Writer OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer OK?": {
      "main": [
        [
          {
            "node": "Acknowledge Filed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Writer Error Retryable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer Error Retryable?": {
      "main": [
        [
          {
            "node": "Schedule Retry (writer)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Failed (writer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Writer Response (inbox)": {
      "main": [
        [
          {
            "node": "Writer OK? (inbox)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer OK? (inbox)": {
      "main": [
        [
          {
            "node": "Acknowledge Inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Writer Error Retryable? (inbox)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Inbox": {
      "main": [
        [
          {
            "node": "Needs Clarification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Clarification?": {
      "main": [
        [
          {
            "node": "Record Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer Error Retryable? (inbox)": {
      "main": [
        [
          {
            "node": "Schedule Retry (writer inbox)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Failed (writer inbox)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Classification?": {
      "main": [
        [
          {
            "node": "File or Inbox?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Output Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment Only?": {
      "main": [
        [
          {
            "node": "Claim Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Screen for Sensitive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Error Switch": {
      "main": [
        [
          {
            "node": "Schedule Retry (Gemini rate limited)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Failed (Gemini auth)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Failed (Gemini auth)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Retry (Gemini server error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Output Type?": {
      "main": [
        [
          {
            "node": "Schedule Retry (invalid classifier output)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Retry (malformed classifier output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "none",
    "saveManualExecutions": false,
    "saveExecutionProgress": false,
    "errorWorkflow": "PLACEHOLDER_SECOND_BRAIN_ERROR_HANDLER"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}